{% extends 'nav.html' %}
{% block content %}
<html lang="en" >
<head>
	<title>Vehicle Insurance</title>
	<link rel="icon" href="/static/images/doc.png" type="image/gif" sizes="16x16">
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<link rel='stylesheet' href='/static/css/materialize.css'>
	<link rel='stylesheet' href='/static/css/materialize.min.css'>
</head>
<body>
    <section id="home" class="parallax-container section scrollspy">
        <div class="parallax darken-image"><img src="/static/images/banner.jpg"></div>
    </section>
    <footer id="contact" class="page-footer blue lighten-2 scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h3 class="center-align">Say Hello</h3>
                    <div class="input-field">
                        <i class="material-icons prefix">account_box</i>
                        <input placeholder="Name" id="name" type="text" class="validate">
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input placeholder="Phone" id="phone" type="tel" class="validate">
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input placeholder="Email" id="email" type="email" class="validate">
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea placeholder="Your message here..." id="message" class="materialize-textarea"></textarea>
                    </div>
                    <button class="btn btn-small right waves-effect waves-light" type="submit" name="send-message">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s12 m6 l5 offset-l1">
                    <div class="card-panel blue center-align">
                        <i class="material-icons large">textsms</i>
                        <ul class="center-align flow-text">
                            <li><h3>Contact</h3></li>
                            <li>080-2640-2640</li>
                            <li>support@borderlessinsurance.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue darken-3">
            <div class="container">© 2020 Borderless Insurance</div>
        </div>
    </footer>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js'></script>
    <script src="/static/js/index.js"></script>
</body>
</html>
{% endblock %}